<section> 
  <div class="grid-image grid-cell">
    <div class="grid-nimg">
      <img src="src/img/placeholder.jpg">
    </div>
  </div> 
  <div class="grid-caption grid-cell">
    "Blah It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
  </div>

    <div class="grid-image grid-cell">
      <div class="grid-nimg">
        <img src="src/img/placeholder.jpg">
      </div>
    </div> 
    <div class="grid-caption grid-cell reverse">
      "Blah It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    </div>

    <div class="grid-image grid-cell">
        <div class="grid-nimg">
          <img src="src/img/placeholder.jpg">
        </div>
      </div> 
      <div class="grid-caption grid-cell">
        "Blah It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
      </div>

        <div class="grid-image grid-cell">
          <div class="grid-nimg">
            <img src="src/img/placeholder.jpg">
          </div>
        </div> 
        <div class="grid-caption grid-cell reverse1">
          "Blah It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
        </div>

        <div class="grid-signup grid-cell">
            <h2 class="sign-up">Sign up with Habitap</h2>
            <!-- <form class="register" action="/users/register" method="post" autocomplete="off"> -->
            <form class="register" id="signup-submit">
                <input type="text" name="firstname" id="firstName" placeholder="First Name" required/>
                <input type="text" name="lastname" id="lastName" placeholder="Last Name" required/>
                <input type="text" name="username" id="username" placeholder="Username" required/>
                <input type="password" name="password" id="password" placeholder="Password" required/>
                <input type='submit' class="sign-up-button" value="Sign-Up"/>
            </form>              
        </div>
        <div class="cf">
                <ul id="showAll" class="listitems"></ul>
                <div id="showOne" class="individual"></div>
        </div>
</section>