<h1>Habitap</h1>
<input id="t-burger" class="burger" type="checkbox"/>
<label for="t-burger">
    <span></span>
    <span></span>
    <span></span>
</label>      
<nav>    
  <ul class="nav-bar">
    <li><a href="#about">About</a></li>
    <li><a href="#research">Research</a></li>
    <li><a href="#sign-up">Sign-up</a></li>
    <li><a id="t-login">Login</a></li>
  </ul>
</nav>
<div class="y-banner">
  <div class="overlay">
    <p>Change your life,</br> one habit at a time.</p>
  </div>
</div>

<div class="y-modal" id="t-modal">
    <div class="aform">
        <form id="login-submit" name="login">
          <input id="login-username" type="text" name="username" placeholder="Username" />
          <input id="login-password" type="text" name="password" placeholder="Password" />
          <input class="login-button" type="submit" value="Login" />
        </form>
      </div>
</div>

<section class="y-grid"> 
  <div class="grid-image grid-cell">
    <div class="grid-nimg">
      <img src="src/img/placeholder.jpg">
    </div>
  </div> 
  <div class="grid-caption grid-cell">
    "Blah It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
  </div>

  <div class="grid-image grid-cell">
    <div class="grid-nimg">
      <img src="src/img/placeholder.jpg">
    </div>
  </div> 
  <div class="grid-caption grid-cell reverse">
    "Blah It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
  </div>

  <div class="grid-image grid-cell">
    <div class="grid-nimg">
      <img src="src/img/placeholder.jpg">
    </div>
  </div> 
  <div class="grid-caption grid-cell">
  "Blah It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
  </div>

  <div class="grid-image grid-cell">
    <div class="grid-nimg">
      <img src="src/img/placeholder.jpg">
    </div>
  </div> 
  <div class="grid-caption grid-cell reverse1">
    "Blah It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
  </div>

  <div class="grid-signup grid-cell">
      <h2 class="sign-up">Sign up with Habitap</h2>
      <form class="register" id="sign-up-submit">
          <input type="text" name="firstname" id="firstName" placeholder="First Name" required/>
          <input type="text" name="lastname" id="lastName" placeholder="Last Name" required/>
          <input type="text" name="username" id="username" placeholder="Username" required/>
          <input type="password" name="password" id="password" placeholder="Password" required/>
          <input type='submit' class="sign-up-button" value="Sign-Up"/>
      </form>              
  </div>
</section>