doctype html

include mixins/_navigation

html
  head
    title='Habitap | Change your life, one habit at a time!'
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Habitap")
    link(href="https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700" rel="stylesheet")
    link(rel ="stylesheet" media="all" href="https://use.fontawesome.com/36db95d904.css")
    script(src="https://use.fontawesome.com/36db95d904.js")
    link(rel="icon" type="image/x-icon" href="/src/img/favicon.ico")
    link(rel="stylesheet" type="text/css" href="/dist/style.min.css")
  body
    block header
      a(class="logo", href='/') Habitap
      div.y-wrapper
        - let show = 'public'
        if token
          - show = 'private'
        +navigation(helpers.navs, show)
    block content
    block footer
    block scripts
      script(src="/node_modules/jquery/dist/jquery.min.js")
      script(src="/dist/app.min.js")
