doctype html

include mixins/_navigation

html
  head
    title = 'Habitap | Change your life, one habit at a time.'
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Habitap")
    link(rel="icon" type="image/x-icon" href="/src/img/favicon.ico")
    link(rel="stylesheet" type="text/css" href="/dist/style.min.css")
  body
    block header
      h1 Habitap
      div.y-wrapper
        - let show = 'public'
        if token
          - show = 'private'
        +navigation(helpers.navs, show)

    block content

    block footer
      div.footer
        p This is the space for a footer
    block scripts
      script(src="/node_modules/jquery/dist/jquery.min.js")
      script(src="/dist/app.min.js")
  