extends 1layout

block content
  div.y-template
    h2 Success
    div Your Habit Question 
    div #{question}
    div has been recorded.
    div #{first}, remember to log-in tomorrow to begin your daily logs.