extends 1layout

block content
  div.y-template
    h2 History Page
    div Welcome #{firstName}!
    div #{id}
    div How did you do with your goals today?
    each index in habits
      div #{index.question}