extends 1layout

block content
  div.y-template
    h2 Habit History Page
    each index in habits
      div.habitTile.cf
        h2 #{index.question}
        div.habitScore #{index.habitScore}
        div.habitDate
          div #{index.startDate}
          p to
          div #{index.endDate}