extends 1layout

block content
  div.y-banner
    div.overlay
      p Change your life, one habit at a time.
    form.demoLogin(action=`/auth/login` method='Post' id='demoLogin' autocomplete='off')
      input.demoText(type='text' name='username' value='habitap' required)
      input.demoPassword(type='text' name='password' value='helloworld' required)
      input(type='submit',class='edit-button', id='demo-button', value='Demo?')
    block signin

  section.y-grid

    div.grid-image.grid-cell
      div.grid-nimg
        img.newScreen(src="/src/img/new1.png")
    div.grid-caption.grid-cell
      p Create a new habit question.  Your habit journey begins tomorrow.

    div.grid-image.grid-cell
      div.grid-nimg
        img(src="/src/img/dailycheck1.png")
    div.grid-caption.grid-cell.reverse
      p Sign-in to Habitap every day to answer your habit question.

    div.grid-image.grid-cell
      div.grid-nimg
        img(src="/src/img/dashboard1.png")
    div.grid-caption.grid-cell
      p View your habit progress in the dashboard.

    div.grid-image.grid-cell
      div.grid-nimg
        img(src="/src/img/history1.png")
    div.grid-caption.grid-cell.reverse1
      p Receive a habit score at the end of your 15 day habit journey.

block footer
  footer
      div Built by Peter Yu
        a(href='https://www.linkedin.com/in/pc-yu/')
          i(class="fa fa-linkedin-square fa-lg" aria-hidden="true")
        a(href='https://github.com/pcyu/') 
          i(class='fa fa-github fa-lg' aria-hidden="true")