extends 1layout

block content
  div.y-banner
    div.overlay
      p Change your life, one habit at a time.
    form.demoLogin(action=`/auth/login` method='Post' id='demoLogin' autocomplete='off')
      input.demoText(type='text' name='username' value='habitap' required)
      input.demoPassword(type='text' name='password' value='helloworld' required)
      input(type='submit',class='edit-button', id='demo-button', value='Demo?')
    block signin

  section.y-grid

    div.grid-image.grid-cell
      div.grid-nimg
        img(src="/src/img/placeholder.jpg")
    div.grid-caption.grid-cell
      p "1st It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."

    div.grid-image.grid-cell
      div.grid-nimg
        img(src="/src/img/placeholder.jpg")
    div.grid-caption.grid-cell.reverse
      p "2nd It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."

    div.grid-image.grid-cell
      div.grid-nimg
        img(src="/src/img/placeholder.jpg")
    div.grid-caption.grid-cell
      p "3rd It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."

    div.grid-image.grid-cell
      div.grid-nimg
        img(src="/src/img/placeholder.jpg")
    div.grid-caption.grid-cell.reverse1
      p "4th It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."

block footer
  footer
      div Built by Peter Yu
        a(href='https://www.linkedin.com/in/pc-yu/')
          i(class="fa fa-linkedin-square fa-lg" aria-hidden="true")
        a(href='https://github.com/pcyu/') 
          i(class='fa fa-github fa-lg' aria-hidden="true")