extends 1layout

block content
  div.y-template
    h2 Leaderboard
  div.leaderboardTable
    div.leaderboardRank Rank
    div.leaderboardUser User
    div.leaderboardElo Elo
    each user, index in users
      div.leaderboardRankData #{index+1}
      div.leaderboardUserData #{user.username}
      div.leaderboardEloData #{user.elo}
    