extends layout

block content
  h2 Login Page
  form.login
    input(type="text" name="firstname" placeholder="Username" required)
    input(type="text" name="lastname" placeholder="Password" required)
    input(type='submit' class="login-in-button" value="Login")
