extends 1layout

block content
  div.y-template
    h2 Maximum Pending Habits
      br
      p You have reached the maximum amount of habits created.  Please finish your current pending habits before creating a new habit question.