extends 1layout

block content
  div.y-template
    h2 New Habit Entry
      div.newForm
        form.new-habit-entry(action='/users/new' method='POST')
          input(type='text', form autocomplete="off" name='question' placeholder='Habit Question' required)
          input(type='submit' class='login-button' value='Post')
