extends 1layout

block content
  div.y-template
    h2 New Habit Entry
    div #{id}
    form.new-habit-entry(action='/users/new' method='POST')
      input(type='text' name='question' placeholder='Habit Question' required)
      p Yes
        input(type='radio',name='answer',value='yes')
      p No
        input(type='radio',name='answer',value='no')
      p Not Yet
        input(type='radio',name='answer',value='not yet')
      input(type='submit' class='login-button' value='post')