extends 1layout

block content
  div.y-template
    h2 Profile Page
    h3 THIS PAGE INCLUDES PROFILE INFORMATION AS WELL AS A GRAPH SHOWING AN AGGREGATED STATUS OF HABIT KEEPING
    div Welcome #{firstName}!
    div #{id}
    div Here is a nice graph that shows how you are doing so far.
