extends landing

block signin
  div.registerForm
    h2 Register
      form.register(action='/users/register' method='POST')
        input(type='text' name='username' placeholder='Username' required)
        input(type='password' name='password' id='password' placeholder='Password' required)
        input(type='submit' class='login-button' value='Register')
