extends layout

block content
  h2 Signup Page
  form.register
    input(type="text" name="firstname" placeholder="First Name" required)
    input(type="text" name="lastname" placeholder="Last Name" required)
    input(type="text" name="username" placeholder="Username" required)
    input(type="password" name="password" id="password" placeholder="Password" required)
    input(type='submit' class="sign-up-button" value="Register")
