extends 1layout

block content
  div.y-template
    h2 Update Habit Information
    each item in habitInfo
      div.updateBlock
        form.daily(action="/users/update/"+ `${id}` method='post')
          input(type='text',name='question',class='text-box',id=('text-box-'+index),placeholder="Habit Question",form autocomplete="off")
          input(type='submit',class='edit-button',id=('save-button-'+index),value='Save')
        div.revisedQuestionHistory
          h3 Question History
          h3 Date Revised
          each question in item.questionArray
            div.previousQuestionEntry #{question.question}
            div.previousDateEntry #{question.revisionDate}