extends 1layout

block content
  div.y-template
    h2 Update Habit Information
        form.daily(action=`/users/update/:habitId` method='post')
          input(type='text',name='question',class='text-box',id=('text-box-'+index),placeholder= "Edit Habit Question")
          input(type='submit',class='save-button',id=('save-button-'+index),value='Save')