mixin navigation( navs = [], type = 'public' )
  input(id="t-burger" class="burger" type="checkbox")
  label(for="t-burger")
    span
    span
    span
  nav
    ul.nav-bar
      each link in navs
        if link.type.indexOf(type) >= 0
          li
            a(href=`${link.path}`) #{link.name}