mixin navigation( navs = [], type = 'public' )
  input(id="t-burger" class="burger" type="checkbox")
  label(for="t-burger")
    span
    span
    span
  nav
    ul.nav-bar
      each peter in navs
        if peter.type.indexOf(type) >= 0
          li
            a(href=`${peter.path}`) #{peter.name}