 section {
     align-items: center;
     display: grid;
     background-color: #add8e6;
     margin: 15px;
     grid-template-columns: 1fr;
     justify-items: center;
     @include responsive(truman) {
         grid-template-columns: 1fr 1fr;
     }
 }

 //------------------------------------------------------------------------------
//  About
//------------------------------------------------------------------------------

.grid-cell {
    @include responsive(truman) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.grid-image {
    border: 1px black solid;
    background-color: green;
}

.grid-caption {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
}

.grid-nimg {
    height: 200px;
    width: 100%;
    @include responsive(harding) {
        height: 250px;
    }
    @include responsive(hoover) {
        height: 300px;
    }
    @include responsive(truman) {
        height: 250px;
    }
    @include responsive(kennedy) {
        height: 300px;
    }
  }

.grid-signup {
        @include responsive(truman) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.reverse {
    @include responsive(truman) {
        grid-column: 1;
        grid-row: 2;
    }
}

.reverse1 {
    @include responsive(truman) {
        grid-column: 1;
        grid-row: 4;
    }
}