//------------------------------------------------------------------------------
//  About
//------------------------------------------------------------------------------

.grid-cell {
    @include responsive(truman) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.grid-image {
}

.grid-caption {
    font-size: 15px;
    padding: 10px;
    width: auto;
}

.grid-nimg {
    height: 150px;
    width: 100%;
    @include responsive(harding) {
        height: 250px;
    }
    @include responsive(hoover) {
        height: 300px;
    }
    @include responsive(truman) {
        height: 250px;
    }
    @include responsive(kennedy) {
        height: 300px;
    }
  }

.reverse {
    @include responsive(truman) {
        grid-column: 1;
        grid-row: 2;
    }
}

.reverse1 {
    @include responsive(truman) {
        grid-column: 1;
        grid-row: 4;
    }
}