//------------------------------------------------------------------------------
//  About
//------------------------------------------------------------------------------

.grid-cell {
    @include responsive(truman) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.grid-image {
}

.grid-caption {
    font-size: 15px;
		padding: 10px;
		margin-bottom: 20px;
		width: 250px;
		@include responsive(harding) {
			padding: 10px 40px;
		}
}

.grid-nimg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 140px;
    width: 100%;
    @include responsive(harding) {
        height: 220px;
    }
    @include responsive(truman) {
        height: 190px;
    }
}

.reverse {
    @include responsive(truman) {
        grid-column: 1;
        grid-row: 2;
    }
}

.reverse1 {
    @include responsive(truman) {
        grid-column: 1;
        grid-row: 4;
    }
}