.y-banner {
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    height: 300px;
    &:after {
        background: url('../src/img/climb2.jpg');
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        top: 0;
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    @include responsive(harding) {
        height: 460px;
    }
    @include responsive(hoover) {
        height: 600px;
    }
    @include responsive(nixon) {
        &:after {
            background-position: left center;
        }
    }
    @include responsive(reagan) {
        &:after {
            background-position: 0% 45%;
        }
    }
}

.y-grid {
    align-items: center;
    display: grid;
    background-color: #add8e6;
    margin: 15px;
    grid-template-columns: 1fr;
    justify-items: center;
    @include responsive(truman) {
        grid-template-columns: 1fr 1fr;
    }
}

.y-modal {
    background: rgba(5, 5, 5, 0.8);
    display: none;
    padding: 30px 16px;
    position: absolute;
    top: 120px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 80%;
    &.active {
        display: block;
    }
}

.y-wrapper {
    margin: 0 auto;
}

