.y-banner {
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    height: 300px;
    &:after {
        background: url('../src/img/climb2.jpg');
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        top: 0;
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    @include responsive(harding) {
        height: 460px;
    }
    @include responsive(hoover) {
        height: 600px;
    }
    @include responsive(nixon) {
        &:after {
            background-position: left center;
        }
    }
    @include responsive(reagan) {
        &:after {
            background-position: 0% 45%;
        }
    }
}

.y-grid {
    align-items: center;
    background-color: #796f75;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 20px;
    padding: 10px;
    @include responsive(truman) {
        grid-template-columns: 1fr 1fr;
    }
}

.y-wrapper {
  margin: 0 auto;
}

.y-template {
  margin: 80px auto 0;
  width: 94%;
}

footer {
  bottom: 0;
  background: white;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 100%;
}