//------------------------------------------------------------------------------
//  Navigation – Logo
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//  Navigation – Items
//------------------------------------------------------------------------------
.nav-bar {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
}

a {
  .nav-bar & {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 10px;
  }
}

li {
  transition-delay: .5s;
  opacity: 0;
  .nav-bar & {
    @include responsive(truman) {
      display: inline-block;
      opacity: 1;
    }
  } 
}

//------------------------------------------------------------------------------
//  Images
//------------------------------------------------------------------------------
.imgrow {
  margin: 36px 0;
  text-align: center;
}

.nimg {
  &.col2 {
    display: inline-block;
    width: 200px;
    &:first-of-type {
      margin-right: 30px;
    }
  }
}
