//------------------------------------------------------------------------------
//  Button
//------------------------------------------------------------------------------

.login-button {
  display: inline-block;
  width: auto;
}

#t-modal-sign-up-button {
  color: red;
}

#t-modal-sign-up-fail {
  color: red;
}

#t-modal-login-button {
  color: red;
}

#t-modal-login-fail {
  color: red;
}

//------------------------------------------------------------------------------
//  Forms
//------------------------------------------------------------------------------

input {
  display: block;
}

//------------------------------------------------------------------------------
//  Navigation – Logo
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//  Navigation – Items
//------------------------------------------------------------------------------
.nav-bar {
  left: 20%;
  right: 20%;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  top: 18%;
  @include responsive(truman) {
    left: 25%;
    position: relative;
    padding-top: 8px;
    top: 0%;
  }
}

a {
  .nav-bar & {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 10px;
  }
}

li {
  opacity: 0;
  .nav-bar & {
    @include responsive(truman) {
      display: inline-block;
      opacity: 1;
    }
  } 
}

//------------------------------------------------------------------------------
//  Images
//------------------------------------------------------------------------------
.imgrow {
  margin: 36px 0;
  text-align: center;
}

.nimg {

}

.overlay {
  background: rgba(0, 0, 0, .5);
  bottom: 3%;
  color: white;
  font-size: 24px;
  left: 0;
  padding: 14px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  @include responsive(nixon) {
    bottom: 0;
    height: 100%;
    top: 0;
    width: 25%;
  }
}
