
//------------------------------------------------------------------------------
//  Navigation – Logo
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//  Navigation – Items
//------------------------------------------------------------------------------
.nav-bar {
  left: 20%;
  right: 20%;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  top: 18%;
  @include responsive(truman) {
    top: 0%;
  }
}

a {
  .nav-bar & {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 10px;
  }
}

li {
  opacity: 0;
  .nav-bar & {
    @include responsive(truman) {
      display: inline-block;
      opacity: 1;
    }
  } 
}

//------------------------------------------------------------------------------
//  Images
//------------------------------------------------------------------------------
.imgrow {
  margin: 36px 0;
  text-align: center;
}

.nimg {
  height: 400px;
  @include responsive(truman) {
    height: 500px;
  }
  @include responsive(kennedy) {
    height: 600px;
  }
  @include responsive(nixon) {
    height: 725px;
  }
}

.overlay {
  background: rgba(0, 0, 0, .5);
  color: white;
  font-size: 24px;
  height: 25%;
  left: 0;
  padding-top: 25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  @include responsive(truman) {
    height: 100%;
    width: 25%;
  }
}
